<!DOCTYPE html>

<!-- 404 page by Kacper Parzęcki https://codepen.io/kparzecki/pen/ePYYqe -->

<html lang="en">

{% include head.html %}


<div class="planet">
    <div class="inner">
        <div class="surface"></div>
    </div>
    <div class="ring"></div>
    <div class="moon"></div>
    <span>4</span>
    <span>4</span>
    <div class="stars s1"></div>
    <div class="stars s2"></div>
    <div class="stars s3"></div>
    <div class="stars s4"></div>
</div>
<p class="alt">404</p>
<p class="info">Lost in space?</p>



</html>